<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <!-- Start side-nav -->
    <div id="slide-out" class="side-nav fixed">
      <ul>
        <%- include ./partials/logo.ejs %>

        <li><a href="/" class="waves-effect waves-light btn blue lighten-1">Cancel Create</a></li>

      </ul>

    </div>
    <!-- End side-nav -->

    <header class="z-depth-1">
      <!-- breadcrumb -->
              <nav>
               <div class="nav-wrapper">
                 <div class="col s12">
                   <a href="/" class="breadcrumb">Home</a>
                   <a href="/" class="breadcrumb">Articles</a>
                   <a class="breadcrumb"> New Article</a>
                 </div>
               </div>
             </nav>
      <!-- End breadcrumb -->

      <span class="hamburger-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons icon-red lighten-5">menu</i></a>
      </span>

        <h3> Create New Article</h3>

    </header>



      <div id="content-wrapper" class="container">
        <div id="main-content input-field">
            <form class="col s12" method="POST" action="/">
              <div class="input-field col s12">
                <input id="article[subject]" name="article[subject]" type="text" class="validate">
                <label for="article[subject]">Subject:</label>
              </div>
                  <br/>
                  <div class="input-field col s12">
                    <textarea id="article[body]" name="article[body]" class="materialize-textarea"></textarea>
                    <label for="article[body]">Body (Markup Ready)</label>
                  </div>
                  <br/>

                  <label for="article[author_id]">Author:</label>
                  <select name="article[author_id]">
                    <% authors.forEach( author => { %>
                      <option value="<%= author.id %>"> <%= author.first_name %> <%= author.nickname %> <%= author.last_name %> </option>
                    <% }) %>
                  </select>

                  <br/>
                  <label for="article[category_id]">Category:</label>
                  <select name="article[category_id]">
                    <% categories.forEach( category => { %>
                      <option value="<%= category.id %>"> <%= category.description %> </option>
                    <% }) %>
                  </select>

                  <button type="submit" class="waves-effect waves-light btn green lighten-1">Create New Article</button>

            </form>
        </div>
      </div>





  </body>
</html>
