<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title></title>

      <!-- Materialize CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css" />

      <!-- Application Styles -->
      <link rel="stylesheet" href="/css/style.css" />

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>

      <!-- Materialize JS -->
      <script src="/vendor/materialize/js/materialize.min.js"></script>

      <!-- Application JS -->
      <script src="/js/app.js"></script>
  </head>
  <body>

    <!-- Start side-nav -->
    <div id="slide-out" class="side-nav fixed">
      <ul>
        <li>
          <img src="/img/ga-logo.jpg" width="150px">
        </li>

      </ul>
      <ul class="foot">
          <form method="POST" action="/<%= article.id %>?_method=delete">
            <button class="btn-floating btn-large waves-effect waves-light red margin-top-20" style="margin-left:10px;"><i class="material-icons">delete</i></button>
          </form>
        </li>

      </ul>

    </div>
    <!-- End side-nav -->

    <header class="z-depth-1">
      <!-- breadcrumb -->
              <nav>
               <div class="nav-wrapper">
                 <div class="col s12">
                   <a href="/" class="breadcrumb">Home</a>
                   <a href="/" class="breadcrumb">Articles</a>
                   <a href="/<%= article.id %>" class="breadcrumb"> <%= article.subject %> </a>
                   <a class="breadcrumb"> Edit</a>
                 </div>
               </div>
             </nav>
      <!-- End breadcrumb -->

      <span class="hamburger-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons icon-red lighten-5">menu</i></a>
      </span>

        <h3> Edit "<%= article.subject %>"</h3>

    </header>



      <div id="content-wrapper" class="container">
        <div id="main-content input-field">
            <form class="col s12" method="POST" action="/<%= article.id %>?_method=put">
                <label for="article[subject]">Subject:</label>
                  <input id="article[subject]" name="article[subject]" type="text" class="validate" value="<%= article.subject %>">
                  <br/>
                  <div class="input-field col s12">
                    <textarea id="article[body]" name="article[body]" class="materialize-textarea" ><%= article.body %></textarea>
                    <label for="article[body]">Body (Markup Ready)</label>
                  </div>
                  <br/>
                  <label for="article[contributor_id]">Editor:</label>
                  <select name="article[contributor_id]">
                    <% editors.forEach( editor => { %>
                      <option value="<%= editor.id %>"> <%= editor.first_name %> <%= editor.nickname %> <%= editor.last_name %> </option>
                    <% }) %>
                  </select>

                  <br/>


                  <button type="submit" class="waves-effect waves-light btn green lighten-1">Edit Article</button>

            </form>
        </div>
      </div>





  </body>
</html>
