<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title></title>

      <!-- Materialize CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css" />

      <!-- Application Styles -->
      <link rel="stylesheet" href="/css/style.css" />

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>

      <!-- Materialize JS -->
      <script src="/vendor/materialize/js/materialize.min.js"></script>

      <!-- Application JS -->
      <script src="/js/app.js"></script>
  </head>
  <body>

    <header class="z-depth-1">
      <!-- navigation -->
              <nav>
               <div class="nav-wrapper">
                 <div class="col s12">
                   <a class="breadcrumb">Home</a>
                   <a class="breadcrumb">Articles</a>
                 </div>
               </div>
             </nav>
      <!-- End navigation -->


      <span class="hamburger-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons icon-red lighten-5">menu</i></a>
      </span>
        <h1> Palmarius Wiki</h1>
        <p> The place for all things Masterpiece cohort</p>

    </header>

<!-- Start side-nav -->
      <div id="slide-out" class="side-nav fixed">
        <ul>
          <li>
              <img src="img/ga-logo.jpg" width="150px">
          </li>
          <li><a class="waves-effect" href="#!"> Link With Waves</a></li>
          <li><a class="waves-effect" href="#!"> Link With Waves</a></li>
          <li><a class="waves-effect" href="#!"> Link With Waves</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Actions:</a></li>
          <li><a href="/new" class="waves-effect waves-light btn green lighten-1">New Article</a></li>
          <li><a href="/articles/update-history" class="waves-effect waves-light btn blue lighten-1">Update History</a></li>
        </ul>

      </div>
<!-- End side-nav -->


      <div id="content-wrapper">



        <div id="main-content">
          <h3> Welcome to the wiki!</h3>
          <p> This is the CRUD wiki appliciation for Palamarius student notes. Below, you'll find a list of articles. To add a new article, click the "new" button. For questions, ask someone else</p>
            <div class="collection ">
              <% articles.forEach( article => { %>
                <a href="/<%=article.id %>" class="collection-item red-text text-lighten-2"><span class="new badge red lighten-2" data-badge-caption=""><%= article.description %></span><span class="new badge red lighten-2" data-badge-caption=""><%= article.first_name %> <%= article.last_name %> - <%= moment(article.created_at).format('MMMM Do YYYY') %></span><%= article.subject %></a>
              <% }) %>
            </div>
        </div>
      </div>





  </body>
</html>
