<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title></title>

      <!-- Materialize CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css" />



      <!-- Application Styles -->
      <link rel="stylesheet" href="/css/style.css" />

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>

      <!-- Materialize JS -->
      <script src="/vendor/materialize/js/materialize.min.js"></script>

      <!-- Application JS -->
      <script src="/js/app.js"></script>
  </head>
  <body>

    <!-- Start side-nav -->
    <div id="slide-out" class="side-nav fixed">
      <ul>
        <li>
          <img src="/img/ga-logo.jpg" width="150px">
        </li>
        <li><a class="waves-effect" href="#!"> Link With Waves</a></li>
        <li><a class="waves-effect" href="#!"> Link With Waves</a></li>
        <li><a class="waves-effect" href="#!"> Link With Waves</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Editors</a></li>
          <% editors.forEach( editor => { %>
            <li><a><%= editor.first_name %> <%= editor.last_name %> - <%= moment(editor.updated_at).format('MMM Do, h:mm a') %></a></li>
          <% }) %>
      </ul>

    </div>
    <!-- End side-nav -->

    <header class="z-depth-1">
      <!-- navigation -->
              <nav>
               <div class="nav-wrapper">
                 <div class="col s12">
                   <a href="/" class="breadcrumb">Home</a>
                   <a href="/" class="breadcrumb">Articles</a>
                   <a class="breadcrumb"> <%= article.subject %></a>
                 </div>
               </div>
             </nav>
      <!-- End navigation -->


      <span class="hamburger-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons icon-red lighten-5">menu</i></a>
      </span>
        <h1> <%= article.subject %></h1>
        <p> Originally published on <%= moment(article.created_at).format('MMMM Do YYYY, h:mm a') %> by <%= article.first_name %> <%= article.last_name %>. </p>

    </header>



      <div id="content-wrapper">



        <div id="main-content">

          <p> <%= article.body %> </p>
        </div>
      </div>





  </body>
</html>
